@font-face {
  font-family: "iconfont"; /* Project id 3522828 */
  src: url('iconfont.woff2?t=1660788114547') format('woff2'),
       url('iconfont.woff?t=1660788114547') format('woff'),
       url('iconfont.ttf?t=1660788114547') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e661";
}

.icon-jinggao:before {
  content: "\e612";
}

.icon-icon--jinggao:before {
  content: "\e620";
}

.icon-pingjia:before {
  content: "\e634";
}

.icon-check-checked:before {
  content: "\e667";
}

.icon-un-checked-o:before {
  content: "\e6b0";
}

.icon-CheckboxUnchecked:before {
  content: "\e652";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangyou3:before {
  content: "\e778";
}

.icon-xiangzuo2:before {
  content: "\e77a";
}

.icon-31gouwuche:before {
  content: "\e602";
}

.icon-fenxiang:before {
  content: "\e616";
}

.icon-xuanze-duoxuan-tianchong:before {
  content: "\e65f";
}

.icon-liaotian:before {
  content: "\e63f";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-bofangqi-bofang:before {
  content: "\e6a4";
}

.icon-31yiwen:before {
  content: "\e600";
}

.icon-suijibofang:before {
  content: "\e672";
}

.icon-xitongfanhui:before {
  content: "\e6b6";
}

.icon-bofang2:before {
  content: "\e70a";
}

.icon-VIP:before {
  content: "\e69d";
}

.icon-shipinbofangshibofang:before {
  content: "\e62b";
}

.icon-tuijian1:before {
  content: "\e680";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-paihangbang:before {
  content: "\e609";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-24gf-playlistMusic4:before {
  content: "\ea86";
}

